<img class='modal-movie-cover' src='{{poster_path}}' alt='{{title}}' />
<div class='movie-content-wraper'>
  <h3 class='modal-movie-headline txt2uppcase'>{{title}}</h3>
  <div class='modal-movie-stats-container'>
    <ul class='modal-movie-stats-titles'>
      <li>Vote / Votes</li>
      <li>Popularity</li>
      <li>Original Title</li>
      <li>Genre</li>
    </ul>
    <ul class='modal-movie-stats-data'>
      <li>
        <span class='vote'>{{vote_average}}</span>
        <span class='modal-movie-stats-titles'>/</span>
        <span class='votes'>{{vote_count}}</span>
      </li>
      <li>{{popularity}}</li>
      <li class='txt2uppcase'>{{original_title}}</li>
      <li>{{genres}}</li>
    </ul>
  </div>
  <h4 class='modal-movie-about-headline txt2uppcase'>About</h4>
  <p class='modal-movie-about-descr'>{{overview}}</p>
  <div class='modal-movie-btn-wraper'>
    <button class='add2watch-btn txt2uppcase js-modal-watched' type='button'>add to Watched</button>
    <button class='add2queue-btn txt2uppcase js-modal-queue' type='button'>add to queue</button>
  </div>
</div>