<div class='modal-footer'>
  <button
    class='modal-footer__close-btn js-modal-footer__close-btn'
    type='button'
    data-modal-footer='close'
  >
    <img src={{closebtn}} alt='#' class='modal-footer__close-btn-icon' />
  </button>

  <div class='our-team__container'>
    <h2 class='our-team-title'>Our Team</h2>

    <ul class='our-team__list'>
      <li class='our-team__item'>
        <picture>
          <source srcset={{Alex}} media='(min-width: 1024px)' />
          <source srcset={{Alex}} media='(min-width: 768px)' />
          <source srcset={{Alex}} media='(min-width: 320px)' />
          <img src={{Alex}} alt='Фото Александра' class='team__member-photo' />
        </picture>

        <div class='team-list__container'>
          <h3 class='team-list__title'>Александр Москалик</h3>
          <p class='team-list__text'>Frontend Developer</p>

          <ul class='social-network-list'>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{facebook}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{instagram}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{twitter}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{linkedin}} alt='#' class='social-network-svg' />
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class='our-team__item'>
        <picture>
          <source srcset={{Andrei}} media='(min-width: 1024px)' />
          <source srcset={{Andrei}} media='(min-width: 768px)' />
          <source srcset={{Andrei}} media='(min-width: 320px)' />
          <img src={{Andrei}} alt='Фото Андрейя' class='team__member-photo' />
        </picture>

        <div class='team-list__container'>
          <h3 class='team-list__title'>Франгу Андрей</h3>
          <p class='team-list__text'>Frontend Developer</p>

          <ul class='social-network-list'>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{facebook}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{instagram}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{twitter}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{linkedin}} alt='#' class='social-network-svg' />
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class='our-team__item'>
        <picture>
          <source srcset={{Artem}} media='(min-width: 1024px)' />
          <source srcset={{Artem}} media='(min-width: 768px)' />
          <source srcset={{Artem}} media='(min-width: 320px)' />
          <img src={{Artem}} alt='Фото Артема' class='team__member-photo' />
        </picture>

        <div class='team-list__container'>
          <h3 class='team-list__title'>Хмелюк Артем</h3>
          <p class='team-list__text'>Frontend Developer</p>

          <ul class='social-network-list'>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{facebook}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{instagram}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{twitter}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{linkedin}} alt='#' class='social-network-svg' />
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class='our-team__item'>
        <picture>
          <source srcset={{Slava}} media='(min-width: 1024px)' />
          <source srcset={{Slava}} media='(min-width: 768px)' />
          <source srcset={{Slava}} media='(min-width: 320px)' />
          <img src={{Slava}} alt='Фото Вячеслава' class='team__member-photo' />
        </picture>

        <div class='team-list__container'>
          <h3 class='team-list__title'>Козлов В'ячеслав</h3>
          <p class='team-list__text'>Frontend Developer</p>

          <ul class='social-network-list'>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{facebook}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{instagram}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{twitter}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{linkedin}} alt='#' class='social-network-svg' />
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class='our-team__item'>
        <picture>
          <source srcset={{Vlad}} media='(min-width: 1024px)' />
          <source srcset={{Vlad}} media='(min-width: 768px)' />
          <source srcset={{Vlad}} media='(min-width: 320px)' />
          <img src={{Vlad}} alt='Фото Влада' class='team__member-photo' />
        </picture>

        <div class='team-list__container'>
          <h3 class='team-list__title'>Турченко Владислав</h3>
          <p class='team-list__text'>Scrum Master</p>

          <ul class='social-network-list'>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{facebook}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{instagram}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{twitter}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{linkedin}} alt='#' class='social-network-svg' />
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class='our-team__item'>
        <picture>
          <source srcset={{Elena}} media='(min-width: 1024px)' />
          <source srcset={{Elena}} media='(min-width: 768px)' />
          <source srcset={{Elena}} media='(min-width: 320px)' />
          <img src={{Elena}} alt='Фото Елены' class='team__member-photo' />
        </picture>

        <div class='team-list__container'>
          <h3 class='team-list__title'>Молостова Елена</h3>
          <p class='team-list__text'>Team Lead</p>

          <ul class='social-network-list'>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{facebook}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{instagram}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{twitter}} alt='#' class='social-network-svg' />
              </a>
            </li>
            <li class='social-network-list__item'>
              <a href='#' class='social-network-list__link'>
                <img src={{linkedin}} alt='#' class='social-network-svg' />
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>