{{#each this}}
  <li class='moveResult_moveCard'>
    <img class='moveResult_cardImg' src={{poster_path}} alt={{title}} />
    <h1 class='moveResult_title'>{{title}}</h1>
    <div class='moveResult_genreList'>
      <p class='moveResult_genre'>{{genres}}</p>
      <p class='moveResult_genre moveResult_years'> | {{release_date}}</p>
    </div>
  </li>
{{/each}}