{{#each this}}
  <li class='moveResult_moveCard' id='{{id}}'>
    <img class='moveResult_cardImg' src={{poster_path}} alt={{title}} />
    <h1 class='moveResult_title'>{{title}}</h1>
    <div class='moveResult_genreList'>
      <p class='moveResult_genre'>{{genres}}&nbsp;|
        <span pclass='moveResult_genre'>&nbsp;{{release_date}}&nbsp;</span>
        <span class='vote'>&nbsp;{{vote_average}}</span></p>
      {{!-- <p class='moveResult_genre moveResult_years'> &nbsp;| {{release_date}}</p> --}}
    </div>
  </li>
{{/each}}